# Virtual Environment
venv/
ml_env/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints